# Importing basic libraries

In [1]:
import numpy as np
import pandas as pd

from sklearn import svm

from sklearn.model_selection import train_test_split

from sklearn.feature_extraction.text import CountVectorizer


%matplotlib inline

# Loading the dataset

In [2]:
spam = pd.read_csv('spam.csv')

In [3]:
spam.head()

,email,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
spam.tail()

,email,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [5]:
spam.shape

(5572, 5)

In [6]:
spam.describe()

,email,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [7]:
spam.isnull().sum()

email            0
message          0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [8]:
spam = spam.drop(columns="Unnamed: 2")

In [9]:
spam = spam.drop(columns="Unnamed: 3")

In [10]:
spam = spam.drop(columns="Unnamed: 4")

In [11]:
spam.describe()

       email                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [12]:
spam.isnull().sum()

email      0
message    0
dtype: int64

In [13]:
spam

     email                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

# Model Training

In [14]:
x = spam["email"]
y = spam["message"]

In [15]:
print(x)

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: email, Length: 5572, dtype: object

In [16]:
print(y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [18]:
print(x_train)

1799     ham
480      ham
967      ham
3077     ham
801      ham
        ...
1843     ham
5003     ham
5484     ham
3538     ham
3419    spam
Name: email, Length: 4457, dtype: object

In [19]:
print(x_test)

3289     ham
3703     ham
5452     ham
1395     ham
1104    spam
        ...
738      ham
4350     ham
339      ham
1245     ham
1231     ham
Name: email, Length: 1115, dtype: object

In [20]:
print(y_train)

1799         If we hit it off, you can move in with me :)
480                          Almost there, see u in a sec
967     What do u want when i come back?.a beautiful n...
3077               Okay but i thought you were the expert
801     Appt is at &lt;TIME&gt; am. Not my fault u don...
                              ...
1843                Super da:)good replacement for murali
5003    There's someone here that has a year  &lt;#&gt...
5484    , ,  and  picking them up from various points ...
3538        What happen dear. Why you silent. I am tensed
3419    As a valued customer, I am pleased to advise y...
Name: message, Length: 4457, dtype: object

In [21]:
print(y_test)

3289    My tuition is at 330. Hm we go for the 1120 to...
3703              Kent vale lor... ÌÏ wait 4 me there ar?
5452             What???? Hello wats talks email address?
1395    Thats cool! I am a gentleman and will treat yo...
1104    Message Important information for O2 user. Tod...
                              ...
738                             Wish i were with you now!
4350    Night has ended for another day, morning has c...
339             U calling me right? Call my hand phone...
1245    Hello which the site to download songs its urg...
1231    have got * few things to do. may be in * pub l...
Name: message, Length: 1115, dtype: object

In [22]:
vectorizer = CountVectorizer()
x_train = vectorizer.fit_transform(x_train)
x_test = vectorizer.transform(x_test)

In [25]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [28]:
from sklearn.metrics import accuracy_score

prediction = model.predict(x_test)
print(accuracy_score(y_test,prediction))

0.007174887892376682